[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tahmid/Desktop/Brian W. Kernighan, Dennis M. Ritchi - The C Programming Language (1988, Prentice Hall PTR) - libgen.lc.pdf]
row=0
col=0

[/home/tahmid/Desktop/Harold Abelson, Gerald Jay Sussman - Structure and Interpretation of Computer Programs - 2nd Edition (MIT Electrical Engineering and Computer Science) (1996, The MIT Press) - libgen.lc.epub]
row=1
col=0

